.flag{
    height: 600px;
    width: 900px;
    background-color: 
    #ce1126;
    border: 2px solid #ffffff;
    position: relative;
}

.flag>div{
    top: 150px;

    width: 100%;
    height: 300px;
    background-color: #002868;
    position: absolute;
}

.flag>div>div{
    margin-top: 50px;
    margin-left: 350px;
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;

}
.flag p{
   text-align: center;
   font-size: 5rem;
   margin: 0;
   color: #ffffff;
}
.flag>div>div p{
    color: #000000;
    text-align: center;
    margin:0;
    font-size: 5rem;
}