.red{
    height: 100px;
    width: 100px;
    background-color: red;
}

.green{
    height: 100px;
    width: 100px;
    background-color: green;
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
}

.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.orange{
    height: 100px;
    width: 100px;
    background-color: orange;
}
